<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>Registro de usuario</title>
</head>
<body>
    <header>
        <div class="header-top">
        <div class="logo">
            <img src='/img/logo-mercado-liebre.svg' alt="logo-mercado-liebre">
        </div>
        <form action="" method="post">
            <div class="lupita">
                <input type="text" placeholder="Buscar productos, marcas">
               <a href="#"><i class="fas fa-search"></i></a> 
            </div>
            </form>
        <div class="subtitulo">
            <i class="fas fa-hand-holding-usd"></i><h5>Compra en cuotas y sin tarjeta de credito</h5>
        </div>
        </div>
        
        <nav class="main-navbar">
            <ul class="site">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="log-in">
                <li class="sublog-in"><a href="#">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li class="sublog-in"><a href="#">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                <li class="sublog-in"><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
    </header>

    <main>
        <div class="login">
            <h4>Iniciar sesión</h4>
        <form action="" method="post">
            <div class="normales">
                <div class="usuario">
                    <label for="nombre_usuario">Nombre de usuario <input type="text" name="usuario" placeholder="Nombre de usuario"></label><span class="feedback">* Comprueba tu nombre de usuario</span>
                </div>
                <div class="contraseña">
                    <label for="password">Contraseña </label><input type="password" name="Contraseña" id="password" placeholder="Ingresa tu contraseña"><span class="feedback">* Contraseña incorrecta</span>
                </div>
                <div class="enviar">
                    <a href="/">Enviar</a>
                </div>
            </div>
        </form>
        </div>
    </main>
   
    <footer>
        <section>
            <div class="sub-footer">
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>     
            </div>       
            <br>
            <div class="sub-footer">
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $2500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <br>
            <div class="sub-footer">
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </div>
            <br>
            <div class="footer-p">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </section>
    </footer>
</body>
</html>